<section id="resetPassword">
  <div class="auth-form py-5 w-50 col-lg-7 col-md-10 col-sm-12">
    <div class="text-center">
      <img src="./assets/images/logo.svg" alt="">
    </div>

    <form [formGroup]="resetPassword" (ngSubmit)="handleForm(resetPassword)" class="px-5">
      <h2>Log In</h2>
      <p>
        Welcome Back! Pleace enter your details
      </p>
      <div class="form-item">
        <div class="input-group mb-3 custom-input">
          <span class="input-group-text px-3 py-3" id="basic-addon1"><i class="fa-solid fa-at"></i></span>
          <div class="y-line my-auto"></div>
          <input type="email" class="form-control rounded-end py-1" placeholder="Enter your email" aria-label="email"
            aria-describedby="basic-addon1" formControlName="email">
        </div>
        <div *ngIf="resetPassword.get('email')?.errors && resetPassword.get('email')?.touched"
          class="text-red m-0 mx-auto p-0 text-start">
          <span class="text-red" *ngIf="resetPassword.get('email')?.getError('required')">email is Required</span> <br>
          <span class="text-red" *ngIf="resetPassword.get('email')?.getError('email')">email isn't Validator</span>
        </div>
      </div>

      <div class="form-item">
        <div class="form-item input-group mb-3">
          <span class="input-group-text px-3 py-3" id="basic-addon1"><i class="fa-solid fa-message"></i></span>
          <div class="y-line my-auto"></div>
          <input type="text" class="form-control rounded-end py-1 block" placeholder="OTP" aria-label="seed"
            aria-describedby="basic-addon1" formControlName="seed">
          <!-- <span class="ayes_icon rounded px-3 py-3" id="basic-addon1" role="button" (click)="toggleSee()">
            <i class="fa-regular" [ngClass]="{'fa-eye': see, 'fa-eye-slash': !see}"></i>
          </span> -->
        </div>
        <div *ngIf="resetPassword.get('seed')?.errors && resetPassword.get('seed')?.touched"
          class="text-red m-0 mx-auto p-0 text-start block">
          <span class="text-red p-0 block" *ngIf="resetPassword.get('seed')?.getError('required')">Code is
            Required</span><br>
          <span class="text-red p-0 block" *ngIf="resetPassword.get('seed')?.getError('minlength')">Min length
            4</span><br>
          <span class="text-red p-0 block" *ngIf="resetPassword.get('seed')?.getError('maxlength')">Max length
            4</span>
        </div>
      </div>


      <div class="form-item">
        <div class="form-item input-group mb-3">
          <span class="input-group-text px-3 py-3" id="basic-addon1"><i class="fa-solid fa-lock"></i></span>
          <div class="y-line my-auto"></div>
          <input [type]="password_type" class="form-control rounded-end py-1 block" placeholder="Password"
            aria-label="password" aria-describedby="basic-addon1" formControlName="password">
          <span class="ayes_icon rounded px-3 py-3" id="basic-addon1" role="button" (click)="toggleSee()">
            <i class="fa-regular" [ngClass]="{'fa-eye': see, 'fa-eye-slash': !see}"></i>
          </span>
        </div>

        <div *ngIf="resetPassword.get('password')?.errors && resetPassword.get('password')?.touched"
          class="text-red m-0 mx-auto p-0 text-start block">
          <span class="text-red p-0 block" *ngIf="resetPassword.get('password')?.getError('required')">password is
            Required</span><br>
          <span class="text-red p-0 block" *ngIf="resetPassword.get('password')?.getError('minlength')">Min length
            8</span><br>
          <span class="text-red p-0 block" *ngIf="resetPassword.get('password')?.getError('pattern')">must have at least
            1
            uppercase
            letter <br> at least 1 lowercase letter <br> at least 1 digit <br> at least 1 special character</span><br>
          <span class="text-red p-0 block" *ngIf="resetPassword.get('password')?.getError('maxlength')">Max length
            20</span>
        </div>
      </div>

      <div class="form-item">
        <div class="input-group flex-nowrap mb-3">
          <span class="input-group-text px-3 py-3" id="addon-wrapping"><i class="fa-solid fa-lock"></i></span>
          <div class="y-line my-auto"></div>
          <input formControlName="confirmPassword" type="text" [type]="password_type_2" class="form-control py-2"
            placeholder="confirmPassword" aria-label="confirmPassword" aria-describedby="basic-addon1" />
          <span class="ayes_icon rounded px-3 py-3" id="basic-addon1" role="button" (click)="toggleSee_2()">
            <i class="fa-regular" [ngClass]="{'fa-eye': see_2, 'fa-eye-slash': !see_2}"></i>
          </span>
        </div>
        <span class="text-danger mb-3" *ngIf="resetPassword.get('confirmPassword')?.errors &&
        resetPassword.get('confirmPassword')?.touched ">
          <span *ngIf="resetPassword.get('confirmPassword')?.getError('required')">confirmPassword is Required</span>
          <span *ngIf="resetPassword.get('confirmPassword')?.errors?.['invalid']">
            password and confirm password not match
          </span>
        </span>
      </div>




      <!--


          <div *ngIf="resetPassword.get('seed')?.errors && resetPassword.get('seed')?.touched"
          class="text-red m-0 mx-auto p-0 text-start block">
          <span class="text-red p-0 block" *ngIf="resetPassword.get('seed')?.getError('required')">seed is
            Required</span><br>
          <span class="text-red p-0 block" *ngIf="resetPassword.get('seed')?.getError('minlength')">Min length 4
            char</span><br><span class="text-red p-0 block" *ngIf="resetPassword.get('seed')?.getError('maxlength')">Max
            length 4 char</span>
        </div>
 -->


      <button type="submit" class=" main w-100 mt-3 " [disabled]="resetPassword.invalid"> Log in
        <span *ngIf="isLoading"><i class="fas fa-spin fa-spinner text-white"></i></span> </button>
    </form>
  </div>
</section>
