.w_UserImage {
  width: 250px;
  height: 250px;
  }

  .UserImage {
  // outline: 10px;
  // border: 2px solid black;
    // outline-style: solid;
    // outline-color: red;
    outline: 15px solid #fff;
    // position: absolute;
  //   right: 0;
    top: 20px;
  }


  .bg_gray {
    background-color: #eeeff0e4;
    border-radius: 20px;
  }
