<section class="p-4 reset_P">



  <div class="d-flex flex-row-reverse">
    <a (click)="onNoClick()" class="myPointer"><i class="fa-regular fa-circle-xmark text-danger fa-2x"></i></a>
  </div>
  <div class="text-center my-4">
    <img src="./assets/images/logo.svg" alt="">
  </div>
  <h3 class="py-2">Reset Password</h3>
  <mat-dialog-content>
    <form [formGroup]="RequestResetPassword">
      <div class="form-item">
        <div class="input-group mb-3 custom-input">
          <span class="input-group-text px-3 py-3" id="basic-addon1"><i class="fa-solid fa-at"></i></span>
          <div class="y-line my-auto"></div>
          <input type="email" class="form-control rounded-end py-1" placeholder="Enter your email" aria-label="email"
            aria-describedby="basic-addon1" formControlName="email">
        </div>
        <div *ngIf="RequestResetPassword.get('email')?.errors && RequestResetPassword.get('email')?.touched"
          class="text-red m-0 mx-auto p-0 text-start">
          <span class="text-red" *ngIf="RequestResetPassword.get('email')?.getError('required')">email is
            Required</span>
          <br>
          <span class="text-red" *ngIf="RequestResetPassword.get('email')?.getError('email')">email isn't
            Validator</span>
        </div>
      </div>
    </form>
    <!-- <p>Lorem ipsum dolor sit amet.</p> -->
  </mat-dialog-content>
  <mat-dialog-actions class=" justify-content-around">
    <button mat-button (click)="haveCode()" class="main text-white">Have A code</button>

    <button mat-button [mat-dialog-close]="RequestResetPassword.value" cdkFocusInitial
      [disabled]="RequestResetPassword.invalid" class="main text-white">Reguest to Reset</button>
  </mat-dialog-actions>


</section>
