

section {
  table {
    thead {
      tr {
        th {
padding-block: 20px;
background-color: #E2E5EB;
margin-bottom: 5px;
        }
      }
    }
  }
}


.input-group {
  width: auto ;
}


.selectors {
  margin-left: 45px;
}
